configuration {
    modi: "drun,ssh";
    hide-scrollbar: true;
    separator-style: none;
    show-icons: true;
    terminal: "alacritty";
    font: "Inconsolata 13";
    lines: 7;
    display-drun: "理";
    display-ssh: "力";
    theme: "nord.rasi";
    width: 750;
    fullscreen: true;
    bw: 0;
}
