configuration {
    modi: "drun";
    hide-scrollbar: true;
    show-icons: true;
    font: "Inconsolata 13";
    lines: 7;
    display-drun: "";
    theme: "nord.rasi";
    width: 750;
    fullscreen: true;
    bw: 0;
}
